################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankAccount.BusinessLogic/.vs/BankAccount.BusinessLogic/v16
/BankAccount.BusinessLogic/BankAccount.BusinessLogic/obj/Debug
/.vs
/BankAccount.BusinessLogic/BankAccount.BusinessLogic/bin/Debug
/BankAccount.BusinessLogic/BankAccount.BusinessLogicTests/bin/Debug
/BankAccount.BusinessLogic/BankAccount.BusinessLogicTests/obj/Debug
/BankAccount.BusinessLogic/ConsoleApp/bin/Debug
/BankAccount.BusinessLogic/ConsoleApp/obj/Debug
/Zadania programistyczne v2.0.docx
