################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankAccount.BusinessLogic/.vs/BankAccount.BusinessLogic/v16
